<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fc9182ee-0ee1-4bcf-a90c-d962065a709b/resourceGroups/rgTest/providers/Microsoft.Web/sites/BackEndTestBusinessIt</ResourceId>
    <ResourceGroup>rgTest</ResourceGroup>
    <ApiResourceId>/subscriptions/fc9182ee-0ee1-4bcf-a90c-d962065a709b/resourceGroups/rgTest/providers/Microsoft.ApiManagement/service/SystemTestAPIapi/apis/SystemTestAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://backendtestbusinessit.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>112ca550-65a6-4bd3-bccb-f9952daa9a73</ProjectGuid>
    <MSDeployServiceURL>backendtestbusinessit.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BackEndTestBusinessIt</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$BackEndTestBusinessIt</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAADfhX75dDNEue9xp/UPcOAQAAAAACAAAAAAAQZgAAAAEAACAAAAD8qPwmqq9cw3sloFeQekYepDCv4gXCs/w/e7oHhPcrxQAAAAAOgAAAAAIAACAAAAAfo4lGWGArsbziKQUgBpU0DzyiEzsaNIshFVOZP7y0mIAAAAAvy5GwxCmppbaqL+1+s5OcR/hV42yOWVUwB5/4b0S6qPkr6k5EtxONnkr6wnQhn5hYc6j4XL/Pb3KFbutNvuQFHYoxzbg456626Qevf3VBvywQetwv5F8QqQaY7vELTP8dN3Sr9RuNBD4ye/XtOETs/toCiyHcLSOTsXEDVjUDbUAAAABfkHc83el04Z1CJRpGAZ1hayUjnpZBmPc+EXIyq1NuMyVwfEAv0Gc4LqfOEvA7Cun1hTdil6mLxLRubWhHwuCp</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>